extends layout
block content
  div.id(id=id)
  div#App
    div.view
      h2 {{json.title}}
      h3 {{json.subTitle}}
      div.items.list-group
        div.list-group-item(v-for="item in json.items")
          h4 {{item.title}} ({{item.value}} 票)
          div.from-group
            button.btn.btn-default(@click='post(item)') 投票
            hr 
            div.progress
              div.progress-bar(role="progressbar",aria-valuenow="{{item.percent}}",aria-valuemin="0",aria-valuemax="100",style="width: {{item.percent}}%;") {{item.percent}}%
